.advantages-list {  
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;        
    // margin-right: -30px;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.advantages-list__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
  // width: 450px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    // width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 30px) / 2);
    &:nth-child(2n + 2) {
      margin-right: 0px;
    }
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
    &:not(:last-child) { margin-right: 30px;
    }    
  }
  
  &:before {
    display: block;
    content: "";
    height: 120px;
    background-color: #f5f4fa;
    background-position: center;
    margin-bottom: 30px;
    background-repeat: no-repeat;
  }
}

.advantages-list__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 10px;
  text-align: center;
}
.advantages-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: start;
}

.icon-antenna {
  &::before {
    background-image: url(../images/antenna.svg);
  }
}

.icon-clock {
  &::before {
    background-image: url(../images/clock.svg);
  }
}
.icon-diagramm {
  &::before {
    background-image: url(../images/diagram.svg);
  }
}
.icon-astronavt {
  &::before {
    background-image: url(../images/astronaut.svg);
  }
}
